<div class="container">
<%= simple_form_for (@orden_trabajo)  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="select1">
    <%= f.input :ot %>
    <%= f.input :cliente %>
    <%= f.input :fecha_entrega, :default=>Date.today + 8.days %>
    <%= f.input :observaciones %>
    <%= f.input :producto%>


    <div>
            <!-- Multiselect orden_trabajo.post -->
            <script type="text/javascript">
                $(document).ready(function() {
                  $("#orden_trabajo_p_<%=orden_trabajo.id%>").multiselect({
                      includeSelectAllOption: true,
                      allSelectedText: 'Showing All'
                  });
                });
                $(function () {
                  $("#orden_trabajo_p_<%=orden_trabajo.id%>").change(function () {
                    var selectedValue = $(this).val();
                    console.log(selectedValue);
                    agregarelemento(selectedValue);
                  });
                });
                function agregarelemento(valor) {
                    var my_prueba = valor.toString();
                    $(document).ready(function(){$("#vpost").val(my_prueba);
                    });
                };
            </script>



            <select id= "orden_trabajo_p_<%=orden_trabajo.id%>" multiple="multiple">
              <% OrdenTrabajo::POST.each do |elemento_post| %>
                <%if cadenatovector(orden_trabajo.post).include?  elemento_post %>
                    <option value = <%= elemento_post %> selected><%= elemento_post %></option>
                  <%else%>
                    <option value = <%= elemento_post %> ><%= elemento_post %></option>
                  <%end%>
              <%end%>
            </select>

          <%= f.input :post, :as => :hidden, :input_html => { :id => "vpost" } %>

    </div>

        <div>
            <!-- Multiselect orden_trabajo.maquina -->
            <script type="text/javascript">
                $(document).ready(function() {
                  $("#orden_trabajo_m_<%=orden_trabajo.id%>").multiselect({
                      includeSelectAllOption: true,
                      allSelectedText: 'Showing All'
                  });
                });
                $(function () {
                  $("#orden_trabajo_m_<%=orden_trabajo.id%>").change(function () {
                    var selectedValue = $(this).val();
                    console.log(selectedValue);
                  });
                });
            </script>
            <select id= "orden_trabajo_m_<%=orden_trabajo.id%>" multiple="multiple">
              <% OrdenTrabajo::MAQUINA.each do |elemento_maquina| %>
                <%if cadenatovector(orden_trabajo.maquina).include?  elemento_maquina %>
                  <option value = <%= elemento_maquina %> selected><%= elemento_maquina %></option>
                <%else%>
                  <option value = <%= elemento_maquina %> ><%= elemento_maquina %></option>
                <%end%>
              <%end%>
            </select>
    </div>


  </div>
<div >
  <%= f.button :submit, name="Confirmar", :class => "btn btn-success"%></div>
</div>
<% end %>


<script>

</script>
