<%= form_with(model: orden_trabajo, local: true) do |form| %>
  <% if orden_trabajo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_trabajo.errors.count, "error") %> prohibited this orden_trabajo from being saved:</h2>

      <ul>
        <% orden_trabajo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente %>
    <%= form.text_field :cliente %>
  </div>

  <div class="field">
    <%= form.label :producto %>
    <%= form.text_field :producto %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_field :post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
