<div class="container">

<%= simple_form_for (@orden_trabajo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :ot %>
    <%= f.input :cliente %>
    <%= f.input :producto%>
    <%= f.input :post, :label => "Terminacion", :collection => [["Buv","Buv"], ["Lam","Lam"], ["Renz", "Renz"], ["Minerva","Minerva"], ["Plana","Plana"]], :include_blank => "Anything", wrapper_html: { class: 'form-group' }, :as => :check_boxes, :input_html => {:post => "search[Terminacion][]", :multiple => true}, include_hidden: false %>
    <%= f.input :maquina, :label => "Impresión", :collection => [["Ko","Ko"], ["SM","SM"], ["PM", "PM"], ["GTO","GTO"], ["Xe","Xe"]], :include_blank => "Anything", wrapper_html: { class: 'form-group' }, :as => :check_boxes, :input_html => {:post => "search[Terminacion][]", :multiple => true}, include_hidden: false %>

  </div>
     <div >
      <%= f.button :submit, name="Confirmar", :class => "btn btn-success"%></div>
    </div>
  <%end%>

</div>
