<p id="notice"><%= notice %></p>

<p>
  <strong>Ot:</strong>
  <%= @orden_trabajo.ot %>
</p>


<p>
  <strong>Cliente:</strong>
  <%= @orden_trabajo.cliente %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @orden_trabajo.producto %>
</p>

<p>
  <strong>Post:</strong>
  <%= @orden_trabajo.post %>
</p>
<p>
  <strong>Estado Actual:</strong>
  <%= @orden_trabajo.estado_actual %>
</p>

<%= link_to 'Edit', edit_orden_trabajo_path(@orden_trabajo) %> |
<%= link_to 'Back', orden_trabajos_path %>

